@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

*{
   font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
}

@theme {
    --color-primary:#261CC1;
    --color-white: #fff;
}

a.active hr,
a.active p {
    display: block;
    color: #261CC1;
}

.hero-section {
    min-height: 120vh;
    background: linear-gradient(to bottom right, rgb(38, 28, 193,.1) 20%, #fff 80% );
}

.swiper {
  width: 100%;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}